.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
   display: flex;
   align-items: center;
}

.container_imagem{
    padding: 1em;
}

.cabeçalho_menu{
    width: 24px;
    height: 24px;
    background-image: url("../Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu_titulo{
    color: var(--laranja);
    font-weight: 700;
}
.lista-menu_item{
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu_link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
background-clip: text;
text-transform: uppercase;
}
.container__botao {
    display: none;
    }
