.cabeçalho_menu-hamburguer{
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 24px;
    height: 24px;
    background-image: url("/imagens/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.conteiner_imagem{
    padding: lem;
}